In [1]:
import numpy as np
import pandas as pd
import random as rnd
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import json
import re 
import time

In [2]:
#base_challengers_df = pd.read_csv('../LOL_dataset/challenger_match_V2.csv')

In [3]:
%%time
base_match_df = pd.read_pickle('../LOL_dataset/match_data_version1.pickle')

CPU times: user 28 s, sys: 22.7 s, total: 50.7 s
Wall time: 1min 16s

### Cleaning up the match dataframe dropping columns and removing rows that don't apply

In [4]:
base_match_df['gameId'] = base_match_df['gameId'].astype('int64')

In [5]:
base_match_df.drop_duplicates('gameId',inplace=True)

In [6]:
trim_match_df = base_match_df.drop(columns = ['gameCreation', 'gameType', 'gameType', 'gameVersion',
                                              'participantIdentities', 'platformId', 'queueId', 'status.message',
                                              'status.status_code' ])

In [7]:
trim_match_df['gameId'] = trim_match_df['gameId'].astype('int64')

In [8]:
trim_match_df = trim_match_df[(trim_match_df['gameMode']=='CLASSIC') & (trim_match_df['mapId']==11.0) & (trim_match_df['seasonId'] == 13.0)]

In [9]:
trim_match_df.drop(columns= ['gameMode', 'mapId', 'seasonId'], inplace = True )

In [10]:
trim_match_df = trim_match_df[['gameId', 'participants', 'gameDuration']]

### Cleaning up winning and losing dataframes to be able to reduce them

In [11]:
base_winner_df =  pd.read_pickle('../LOL_dataset/match_winner_data_version1.pickle')

In [12]:
base_winner_df.drop_duplicates('gameId',inplace=True)

In [13]:
base_loser_df = pd.read_pickle('../LOL_dataset/match_loser_data_version1.pickle')

In [14]:
base_loser_df.drop_duplicates('gameId',inplace=True)

In [15]:
trim_winner_df = base_winner_df
trim_loser_df = base_loser_df

In [16]:
trim_winner_df.head(4)

,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,200,Win,False,True,True,False,True,True,9,1,0,3,0,2,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4.247263e+09
1,100,Win,False,False,False,False,True,True,4,0,0,2,0,2,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4.247156e+09
2,200,Win,True,True,True,False,True,True,5,1,0,2,0,2,0,"[{'championId': 350, 'pickTurn': 6}, {'champio...",4.243963e+09
3,200,Win,True,True,False,False,False,True,6,0,1,3,0,1,0,"[{'championId': 81, 'pickTurn': 6}, {'champion...",4.241678e+09

In [17]:
trim_winner_df.drop(columns= ['vilemawKills', 'dominionVictoryScore', 'bans'], inplace=True)
trim_loser_df.drop(columns= ['vilemawKills', 'dominionVictoryScore', 'bans'], inplace=True)

In [18]:
trim_winner_df['gameId'] = trim_winner_df['gameId'].astype('int64')
trim_loser_df['gameId'] = trim_loser_df['gameId'].astype('int64')

In [19]:
trim_winner_df = pd.DataFrame(trim_winner_df[trim_winner_df['gameId'].isin(trim_match_df['gameId'])])
trim_loser_df = pd.DataFrame(trim_loser_df[trim_loser_df['gameId'].isin(trim_match_df['gameId'])])

In [20]:
df = pd.DataFrame(index= trim_match_df['gameId'])
df.sort_index(inplace=True)

In [21]:
trim_winner_df.set_index('gameId',inplace=True)
trim_loser_df.set_index('gameId', inplace=True)

In [22]:
trim_winner_df.sort_index(inplace=True)
trim_loser_df.sort_index(inplace=True)

In [23]:
trim_winner_df.shape

(92649, 13)

### Contructing the final dataframe

In [24]:
df['Blue Winner'] = trim_winner_df['teamId']

In [25]:
trim_match_df.set_index('gameId', inplace=True)
trim_match_df.sort_index(inplace=True)
df["Match Length"] = round((trim_match_df['gameDuration']/60), ndigits=1)

In [26]:
df[['Winner First Blood', 'Winner First Tower', 'Winner First Inhibitor', 'Winner First Baron', 'Winner First Dragon',
   'Winner First Herald']] = trim_winner_df[['firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon', 'firstRiftHerald']]

In [27]:
blue_winner = pd.DataFrame()
blue_loser = pd.DataFrame
blue_df = pd.DataFrame()
red_winner = pd.DataFrame()
red_loser = pd.DataFrame
red_df = pd.DataFrame()

In [28]:
blue_winner = trim_winner_df[trim_winner_df['teamId'] == 100]
blue_loser = trim_loser_df[trim_loser_df['teamId'] == 100]
red_winner = trim_winner_df[trim_winner_df['teamId'] == 200]
red_loser = trim_loser_df[trim_loser_df['teamId'] == 200]

In [29]:
blue_winner = pd.DataFrame(blue_winner.drop(columns = ['firstBlood', 'firstTower','firstInhibitor',
                                                       'firstBaron', 'firstDragon', 'firstRiftHerald']))
red_winner = pd.DataFrame(red_winner.drop(columns = ['firstBlood', 'firstTower','firstInhibitor',
                                                       'firstBaron', 'firstDragon', 'firstRiftHerald']))

In [30]:
blue_loser = pd.DataFrame(blue_loser.drop(columns = ['firstBlood', 'firstTower','firstInhibitor',
                                                       'firstBaron', 'firstDragon', 'firstRiftHerald']))
red_loser = pd.DataFrame(red_loser.drop(columns = ['firstBlood', 'firstTower','firstInhibitor',
                                                       'firstBaron', 'firstDragon', 'firstRiftHerald']))

In [31]:
blue_df = pd.concat([blue_winner, blue_loser])
red_df = pd.concat([red_winner, red_loser])

In [32]:
blue_df.sort_index(inplace=True)
red_df.sort_index(inplace=True)

In [33]:
df[['Winner First Blood', 'Winner First Tower', 'Winner First Inhibitor', 'Winner First Baron', 'Winner First Dragon',
   'Winner First Herald']] = trim_winner_df[['firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon', 'firstRiftHerald']]

In [34]:
blue_df.rename(columns= {'towerKills': 'Blue Tower Kills', 'inhibitorKills': 'Blue Inhibitor Kills', 'baronKills': ' Blue Baron Kills',
                        'dragonKills' : 'Blue Dragon Kills', 'riftHeraldKills' : 'Blue Rift Herald Kills'}, inplace=True)
red_df.rename(columns= {'towerKills': 'Red Tower Kills', 'inhibitorKills': 'Red Inhibitor Kills', 'baronKills': ' Red Baron Kills',
                        'dragonKills' : 'Red Dragon Kills', 'riftHeraldKills' : 'Red Rift Herald Kills'}, inplace=True)

In [35]:
blue_df.drop(columns =['win', 'teamId'],inplace=True)
red_df.drop(columns =['win', 'teamId'],inplace=True)

In [36]:
both_counts_df = pd.merge(blue_df, red_df, how = 'outer', on = 'gameId')

In [37]:
both_counts_df.shape

(92649, 10)

In [38]:
df *= 1

In [39]:
df.head(3)

,Blue Winner,Match Length,Winner First Blood,Winner First Tower,Winner First Inhibitor,Winner First Baron,Winner First Dragon,Winner First Herald
gameId,,,,,,,,
3508539941,200,35.3,0,0,1,1,1,0
3510680882,200,30.9,1,0,1,1,0,0
3510731607,100,29.0,1,1,1,1,1,1

In [40]:
df = pd.merge(df, both_counts_df, on= 'gameId')

In [41]:
df['Blue Winner'] = df['Blue Winner'].map({100:1, 200:0})

In [42]:
df.rename(columns = {'Winner First Blood': 'Blue First Blood', 'Winner First Tower':'Blue First Tower',
                     'Winner First Inhibitor':'Blue First Inhibitor', 'Winner First Baron':'Blue First Baron', 
                     'Winner First Dragon':'Blue First Dragon', 'Winner First Herald':'Blue First Herald'},inplace=True)

In [43]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Blood'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Blood'] == 1)]
choicelist = [1, 0]
df['Blue First Blood'] = np.select(condlist, choicelist, default= df['Blue First Blood'])

In [44]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Tower'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Tower'] == 1)]
choicelist = [1, 0]
df['Blue First Tower'] = np.select(condlist, choicelist, default= df['Blue First Tower'])

In [45]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Inhibitor'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Inhibitor'] == 1)]
choicelist = [1, 0]
df['Blue First Inhibitor'] = np.select(condlist, choicelist, default= df['Blue First Inhibitor'])

In [46]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Baron'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Baron'] == 1)]
choicelist = [1, 0]
df['Blue First Baron'] = np.select(condlist, choicelist, default= df['Blue First Baron'])

In [47]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Dragon'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Dragon'] == 1)]
choicelist = [1, 0]
df['Blue First Dragon'] = np.select(condlist, choicelist, default= df['Blue First Dragon'])

In [48]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Herald'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Herald'] == 1)]
choicelist = [1, 0]
df['Blue First Herald'] = np.select(condlist, choicelist, default= df['Blue First Herald'])

In [49]:
df.to_csv('LoL_df.csv')

In [50]:
df.to_pickle('LoL_df.pkl')

In [ ]:
#df['Blue Winner'] = df['Blue Winner'].map({100:'1', 200:'0'})

In [ ]:
#df.where(df['Blue Winner'] == 0, (df['Blue First Blood'] - 1), axis = 0)