In [1]:
import numpy as np
import pandas as pd
import random as rnd
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import json
import re 
import time

In [2]:
#base_challengers_df = pd.read_csv('../LOL_dataset/challenger_match_V2.csv')

In [3]:
%%time
base_match_df = pd.read_pickle('../LOL_dataset/match_data_version1.pickle')

CPU times: user 30.7 s, sys: 22.4 s, total: 53.1 s
Wall time: 1min 34s

### Cleaning up the match dataframe dropping columns and removing rows that don't apply

In [232]:
base_match_df['gameId'] = base_match_df['gameId'].astype('int64')

In [233]:
base_match_df.drop_duplicates('gameId',inplace=True)

In [234]:
trim_match_df = base_match_df.drop(columns = ['gameCreation', 'gameType', 'gameType', 'gameVersion',
                                              'participantIdentities', 'platformId', 'queueId', 'status.message',
                                              'status.status_code' ])

In [235]:
trim_match_df['gameId'] = trim_match_df['gameId'].astype('int64')

In [236]:
trim_match_df = trim_match_df[(trim_match_df['gameMode']=='CLASSIC') & (trim_match_df['mapId']==11.0) & (trim_match_df['seasonId'] == 13.0)]

In [237]:
trim_match_df.drop(columns= ['gameMode', 'mapId', 'seasonId'], inplace = True )

In [238]:
trim_match_df = trim_match_df[['gameId', 'participants', 'gameDuration']]

### Cleaning up winning and losing dataframes to be able to reduce them

In [239]:
base_winner_df =  pd.read_pickle('../LOL_dataset/match_winner_data_version1.pickle')

In [240]:
base_winner_df.drop_duplicates('gameId',inplace=True)

In [241]:
base_loser_df = pd.read_pickle('../LOL_dataset/match_loser_data_version1.pickle')

In [242]:
base_loser_df.drop_duplicates('gameId',inplace=True)

In [243]:
trim_winner_df = base_winner_df
trim_loser_df = base_loser_df

In [244]:
trim_winner_df.head(4)

,teamId,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,200,Win,False,True,True,False,True,True,9,1,0,3,0,2,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4.247263e+09
1,100,Win,False,False,False,False,True,True,4,0,0,2,0,2,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4.247156e+09
2,200,Win,True,True,True,False,True,True,5,1,0,2,0,2,0,"[{'championId': 350, 'pickTurn': 6}, {'champio...",4.243963e+09
3,200,Win,True,True,False,False,False,True,6,0,1,3,0,1,0,"[{'championId': 81, 'pickTurn': 6}, {'champion...",4.241678e+09

In [245]:
trim_winner_df.drop(columns= ['vilemawKills', 'dominionVictoryScore', 'bans'], inplace=True)
trim_loser_df.drop(columns= ['vilemawKills', 'dominionVictoryScore', 'bans'], inplace=True)

In [246]:
trim_winner_df['gameId'] = trim_winner_df['gameId'].astype('int64')
trim_loser_df['gameId'] = trim_loser_df['gameId'].astype('int64')

In [247]:
trim_winner_df = pd.DataFrame(trim_winner_df[trim_winner_df['gameId'].isin(trim_match_df['gameId'])])
trim_loser_df = pd.DataFrame(trim_loser_df[trim_loser_df['gameId'].isin(trim_match_df['gameId'])])

In [248]:
df = pd.DataFrame(index= trim_match_df['gameId'])
df.sort_index(inplace=True)

In [249]:
trim_winner_df.set_index('gameId',inplace=True)
trim_loser_df.set_index('gameId', inplace=True)

In [250]:
trim_winner_df.sort_index(inplace=True)
trim_loser_df.sort_index(inplace=True)

In [251]:
trim_winner_df.shape

(92649, 13)

### Contructing the final dataframe

In [252]:
df['Blue Winner'] = trim_winner_df['teamId']

In [253]:
trim_match_df.set_index('gameId', inplace=True)
trim_match_df.sort_index(inplace=True)
df["Match Length"] = round((trim_match_df['gameDuration']/60), ndigits=1)

In [254]:
df[['Winner First Blood', 'Winner First Tower', 'Winner First Inhibitor', 'Winner First Baron', 'Winner First Dragon',
   'Winner First Herald']] = trim_winner_df[['firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon', 'firstRiftHerald']]

In [255]:
blue_winner = pd.DataFrame()
blue_loser = pd.DataFrame
blue_df = pd.DataFrame()
red_winner = pd.DataFrame()
red_loser = pd.DataFrame
red_df = pd.DataFrame()

In [256]:
blue_winner = trim_winner_df[trim_winner_df['teamId'] == 100]
blue_loser = trim_loser_df[trim_loser_df['teamId'] == 100]
red_winner = trim_winner_df[trim_winner_df['teamId'] == 200]
red_loser = trim_loser_df[trim_loser_df['teamId'] == 200]

In [257]:
blue_winner = pd.DataFrame(blue_winner.drop(columns = ['firstBlood', 'firstTower','firstInhibitor',
                                                       'firstBaron', 'firstDragon', 'firstRiftHerald']))
red_winner = pd.DataFrame(red_winner.drop(columns = ['firstBlood', 'firstTower','firstInhibitor',
                                                       'firstBaron', 'firstDragon', 'firstRiftHerald']))

In [258]:
blue_loser = pd.DataFrame(blue_loser.drop(columns = ['firstBlood', 'firstTower','firstInhibitor',
                                                       'firstBaron', 'firstDragon', 'firstRiftHerald']))
red_loser = pd.DataFrame(red_loser.drop(columns = ['firstBlood', 'firstTower','firstInhibitor',
                                                       'firstBaron', 'firstDragon', 'firstRiftHerald']))

In [259]:
blue_df = pd.concat([blue_winner, blue_loser])
red_df = pd.concat([red_winner, red_loser])

In [260]:
blue_df.sort_index(inplace=True)
red_df.sort_index(inplace=True)

In [261]:
df[['Winner First Blood', 'Winner First Tower', 'Winner First Inhibitor', 'Winner First Baron', 'Winner First Dragon',
   'Winner First Herald']] = trim_winner_df[['firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon', 'firstRiftHerald']]

In [262]:
blue_df.rename(columns= {'towerKills': 'Blue Tower Kills', 'inhibitorKills': 'Blue Inhibitor Kills', 'baronKills': ' Blue Baron Kills',
                        'dragonKills' : 'Blue Dragon Kills', 'riftHeraldKills' : 'Blue Rift Herald Kills'}, inplace=True)
red_df.rename(columns= {'towerKills': 'Red Tower Kills', 'inhibitorKills': 'Red Inhibitor Kills', 'baronKills': ' Red Baron Kills',
                        'dragonKills' : 'Red Dragon Kills', 'riftHeraldKills' : 'Red Rift Herald Kills'}, inplace=True)

In [263]:
blue_df.drop(columns =['win', 'teamId'],inplace=True)
red_df.drop(columns =['win', 'teamId'],inplace=True)

In [264]:
both_counts_df = pd.merge(blue_df, red_df, how = 'outer', on = 'gameId')

In [265]:
both_counts_df.shape

(92649, 10)

In [266]:
df *= 1

In [267]:
df.head(3)

,Blue Winner,Match Length,Winner First Blood,Winner First Tower,Winner First Inhibitor,Winner First Baron,Winner First Dragon,Winner First Herald
gameId,,,,,,,,
3508539941,200,35.3,0,0,1,1,1,0
3510680882,200,30.9,1,0,1,1,0,0
3510731607,100,29.0,1,1,1,1,1,1

In [268]:
df = pd.merge(df, both_counts_df, on= 'gameId')

In [269]:
df['Blue Winner'] = df['Blue Winner'].map({100:'1', 200:'0'})

In [270]:
df.to_csv('LoL_df.csv')

In [271]:
df.to_pickle('LoL_df.pkl')

In [287]:
df[df['Blue Winner'] == 0]

Empty DataFrame
Columns: [Blue Winner, Match Length, Blue First Blood, Blue First Tower, Blue First Inhibitor, Blue First Baron, Blue First Dragon, Blue First Herald, Blue Tower Kills, Blue Inhibitor Kills,  Blue Baron Kills, Blue Dragon Kills, Blue Rift Herald Kills, Red Tower Kills, Red Inhibitor Kills,  Red Baron Kills, Red Dragon Kills, Red Rift Herald Kills, Blue First Bloods]
Index: []

In [289]:
df['Blue Winner']

gameId
3508539941    0
3510680882    0
3510731607    1
3512273966    0
3514387059    0
             ..
4260984678    0
4260995585    0
4261001693    0
4261012162    0
4261013083    0
Name: Blue Winner, Length: 92649, dtype: object

In [273]:
df.rename(columns = {'Winner First Blood': 'Blue First Blood', 'Winner First Tower':'Blue First Tower',
                     'Winner First Inhibitor':'Blue First Inhibitor', 'Winner First Baron':'Blue First Baron', 
                     'Winner First Dragon':'Blue First Dragon', 'Winner First Herald':'Blue First Herald'},inplace=True)

In [284]:
df['Blue First Baron'] = np.select(df['Blue Winner'] == 0, 1)

TypeError: 'int' object is not iterable

In [277]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Blood'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Blood'] == 1)]
choicelist = [1, 0]
df['Blue First Bloods'] = np.select(condlist, choicelist,default = 12)

In [231]:
condlist

[gameId
 3508539941    False
 3510680882    False
 3510731607    False
 3512273966    False
 3514387059    False
               ...
 4260984678    False
 4260995585    False
 4261001693    False
 4261012162    False
 4261013083    False
 Length: 92649, dtype: bool,
 gameId
 3508539941    False
 3510680882    False
 3510731607    False
 3512273966    False
 3514387059    False
               ...
 4260984678    False
 4260995585    False
 4261001693    False
 4261012162    False
 4261013083    False
 Length: 92649, dtype: bool]

In [225]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Tower'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Tower'] == 1)]
choicelist = [1, 0]
df['Blue First Tower'] = np.select(condlist, choicelist)

In [279]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Inhibitor'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Inhibitor'] == 1)]
choicelist = [1, 0]
df['Blue First Inhibitor'] = np.select(condlist, choicelist)

In [281]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Baron'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Baron'] == 1)]
choicelist = [1, 1]
df['Blue First Baron'] = np.select(condlist, choicelist)

In [228]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Dragon'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Dragon'] == 1)]
choicelist = [1, 0]
df['Blue First Dragon'] = np.select(condlist, choicelist)

In [229]:
condlist = [
    (df['Blue Winner'] == 0) & (df['Blue First Herald'] == 0),
    (df['Blue Winner'] == 0) & (df['Blue First Herald'] == 1)]
choicelist = [1, 0]
df['Blue First Herald'] = np.select(condlist, choicelist)

In [ ]:
#df['Blue Winner'] = df['Blue Winner'].map({100:'1', 200:'0'})

In [ ]:
#df.where(df['Blue Winner'] == 0, (df['Blue First Blood'] - 1), axis = 0)