In [1]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import json
import re 
import time

In [3]:
base_match_df = pd.read_pickle('../LOL_dataset/match_data_version1.pickle')

In [83]:
trim_match_df = base_match_df.drop(columns = ['gameCreation', 'gameType', 'gameType', 'gameVersion', 'participantIdentities', 'platformId', 'queueId', 'status.message', 'status.status_code' ])

In [84]:
trim_match_df.head(3)

,gameDuration,gameId,gameMode,mapId,participants,seasonId
0,1323.0,4.247263e+09,CLASSIC,11.0,"[{'participantId': 1, 'teamId': 100, 'champion...",13.0
1,1317.0,4.247156e+09,CLASSIC,11.0,"[{'participantId': 1, 'teamId': 100, 'champion...",13.0
2,932.0,4.243963e+09,CLASSIC,11.0,"[{'participantId': 1, 'teamId': 100, 'champion...",13.0

In [85]:
trim_match_df['gameId'] = trim_match_df['gameId'].astype('int64')

In [87]:
trim_match_df = trim_match_df[(trim_match_df['gameMode']=='CLASSIC') & (trim_match_df['mapId']==11.0)]

In [89]:
trim_match_df['mapId'].value_counts()

11.0    92851
Name: mapId, dtype: int64

In [5]:
base_winner_df =  pd.read_pickle('../LOL_dataset/match_winner_data_version1.pickle')

In [6]:
base_loser_df = pd.read_pickle('../LOL_dataset/match_loser_data_version1.pickle')

In [7]:
base_challengers_df = pd.read_csv('../LOL_dataset/challenger_match_V2.csv')

In [9]:
winner_combo = pd.merge(base_match_df, base_winner_df, on='gameId', how= 'left')

In [10]:
loser_combo = pd.merge(base_match_df, base_loser_df, on = 'gameId', how = 'left')

In [ ]:
match_df.iloc[0,7]

In [ ]:
loser_df.info()

In [28]:
winner_df.columns

Index(['teamId', 'win', 'firstBlood', 'firstTower', 'firstInhibitor',
       'firstBaron', 'firstDragon', 'firstRiftHerald', 'towerKills',
       'inhibitorKills', 'baronKills', 'dragonKills', 'vilemawKills',
       'riftHeraldKills', 'dominionVictoryScore', 'bans', 'gameId'],
      dtype='object')

In [ ]:
match_df.head(2)

In [ ]:
match_df['participants'].iloc[0][0]

In [ ]:
match_df['participants'].iloc[0][0]['stats']

In [61]:
winner_combo['win'].value_counts()

Win    108941
Name: win, dtype: int64

In [63]:
match_df['gameMode'].value_counts()

CLASSIC              92857
ARAM                 12061
URF                   2196
ONEFORALL             1575
KINGPORO               122
TUTORIAL_MODULE_1       12
TUTORIAL_MODULE_2        3
TUTORIAL_MODULE_3        3
Name: gameMode, dtype: int64

In [ ]:
match_df = df.drop(df[df.score < 50].index)

In [ ]:
df.drop(df.loc[df['line_race']==0].index, inplace=True)

In [51]:
winner_combo['bans'][8]

[{'championId': 432, 'pickTurn': 1},
 {'championId': 235, 'pickTurn': 2},
 {'championId': 875, 'pickTurn': 3},
 {'championId': 60, 'pickTurn': 4},
 {'championId': 81, 'pickTurn': 5}]