In [1]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import json
import re 
import time

In [ ]:
base_match_df = pd.read_pickle('../LOL_dataset/match_data_version1.pickle')

In [ ]:
base_match_df.head(3)

In [4]:
initial_winner_df =  pd.read_pickle('../LOL_dataset/match_winner_data_version1.pickle')

In [5]:
loser_df = pd.read_pickle('../LOL_dataset/match_loser_data_version1.pickle')

In [6]:
challengers_df = pd.read_csv('../LOL_dataset/challenger_match_V2.csv')

In [7]:
winner_combo = pd.merge(match_df, winner_df, on='gameId', how= 'left')

In [8]:
loser_combo = pd.merge(match_df, loser_df, on = 'gameId', how = 'left')

In [9]:
match_df.head(3)

,gameCreation,gameDuration,gameId,gameMode,gameType,gameVersion,mapId,participantIdentities,participants,platformId,queueId,seasonId,status.message,status.status_code
0,1.585155e+12,1323.0,4.247263e+09,CLASSIC,MATCHED_GAME,10.6.314.4405,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
1,1.585152e+12,1317.0,4.247156e+09,CLASSIC,MATCHED_GAME,10.6.314.4405,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN
2,1.585059e+12,932.0,4.243963e+09,CLASSIC,MATCHED_GAME,10.6.313.8894,11.0,"[{'participantId': 1, 'player': {'platformId':...","[{'participantId': 1, 'teamId': 100, 'champion...",KR,420.0,13.0,NaN,NaN

In [ ]:
match_df.iloc[0,7]

In [ ]:
loser_df.info()

In [28]:
winner_df.columns

Index(['teamId', 'win', 'firstBlood', 'firstTower', 'firstInhibitor',
       'firstBaron', 'firstDragon', 'firstRiftHerald', 'towerKills',
       'inhibitorKills', 'baronKills', 'dragonKills', 'vilemawKills',
       'riftHeraldKills', 'dominionVictoryScore', 'bans', 'gameId'],
      dtype='object')

In [25]:
54834 / (54834 + 53995)

0.5038546710895074

In [10]:
challengers_df[challengers_df['accountId'] == "6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok"]

,Unnamed: 0,gameId,season,role,lane,accountId
7730,0,4188798209,13,SOLO,MID,6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok
7731,1,4188832113,13,SOLO,TOP,6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok
7732,2,4188662882,13,SOLO,TOP,6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok
7733,3,4188520928,13,SOLO,TOP,6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok
7734,4,4188401025,13,SOLO,TOP,6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok
...,...,...,...,...,...,...
37486,95,4092685346,13,SOLO,MID,6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok
37487,96,4092207532,13,SOLO,MID,6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok
37488,97,4092224911,13,SOLO,MID,6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok
37489,98,4092182240,13,SOLO,TOP,6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok
37490,99,4092125850,13,SOLO,TOP,6K8m_ynxEtKDTduCcLGi6ir6T41AwYeT5BtPZygcPVD6zok

In [ ]:
match_df.head(2)

In [ ]:
match_df['participants'].iloc[0][0]

In [ ]:
match_df['participants'].iloc[0][0]['stats']

In [61]:
winner_combo['win'].value_counts()

Win    108941
Name: win, dtype: int64

In [63]:
match_df['gameMode'].value_counts()

CLASSIC              92857
ARAM                 12061
URF                   2196
ONEFORALL             1575
KINGPORO               122
TUTORIAL_MODULE_1       12
TUTORIAL_MODULE_2        3
TUTORIAL_MODULE_3        3
Name: gameMode, dtype: int64

In [ ]:
 = df.drop(df[df.score < 50].index)